<footer id="footer" class="footer" data-bg-img="/images/footer-bg.png" data-bg-color="#25272e">
    <div class="container pt-70 pb-40">
        <div class="row border-bottom-black">
            <div class="col-sm-6 col-md-4">
                <div class="widget dark">
                    <img class="mt-10 mb-20" alt="" src="/images/logo-wide-white-footer.png">
                    <p class="mb-0"> Alameda Octavio Pinheiro Brisolla 13-80</p>
                    <p class="mb-0"> Bauru / SP</p>
                    <ul class="list-inline mt-5">
                        <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-theme-colored mr-5"></i> <a class="text-gray" href="tel:+5514998979681">(14) 99897-9681</a> </li>
                        <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-theme-colored mr-5"></i> <a class="text-gray" href="mailto:adm@stocksolar.com.br">adm@stocksolar.com.br</a> </li>
                    </ul>
                    <ul class="social-icons icon-dark icon-theme-colored icon-circled icon-sm mt-5">
                        <li><a href="https://www.facebook.com/stocksolar/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="widget dark">
                    <h5 class="widget-title line-bottom">Últimos Posts</h5>
                    <div class="latest-posts">
                        {% for post in site.posts limit:4 %}
                        <article class="post media-post clearfix pb-0 mb-10">
                            <a href="#" class="post-thumb">
                                <div class="post-right">
                                    <h5 class="post-title mt-0 mb-5"><a href="{{ post.url }}">{{ post.title }}</a></h5>
                                    <p class="post-date mb-0 font-12">{{ post.date | date:"%d/%m"}}</p>
                                </div>
                            </a>
                        </article>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="widget dark">
                    <h5 class="widget-title line-bottom">Links</h5>
                    <ul class="list angle-double-right list-border">
                        <li><a href="/">Home</a></li>
                        <li><a href="/sobre.html">Sobre</a></li>
                        <li><a href="/contato.html">Contato</a></li>
                        <li><a href="/blog/">Blog</a></li>
                        <!-- <li><a href="#">Gallery</a></li> -->
                    </ul>
                </div>
            </div>
            <!--<div class="col-sm-6 col-md-3">
                <div class="widget dark">
                    <h5 class="widget-title line-bottom">Tags</h5>
                    <div class="tags">
                        <a href="#">lawyer</a>
                        <a href="#">practice</a>
                        <a href="#">judge</a>
                        <a href="#">courte</a>
                        <a href="#">injury</a>
                        <a href="#">injustice</a>
                        <a href="#">justice</a>
                        <a href="#">Script</a>
                        <a href="#">evidence</a>
                        <a href="#">success</a>
                        <a href="#">fight</a>
                        <a href="#">attorneys</a>
                        <a href="#">consulting</a>
                        <a href="#">support</a>
                        <a href="#">cases</a>
                        <a href="#">law</a>
                        <a href="#">criminal</a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <div class="footer-bottom bg-black-333">
        <div class="container pt-15 pb-10">
            <div class="row">
                <div class="col-md-6">
                    <p class="font-11 text-black-777 m-0 sm-text-center">Copyright &copy;2018 Stock Solar por <a href="https://exorde.com.br">Exorde</a></p>
                </div>
                <!-- <div class="col-md-6 text-right">
                    <div class="widget no-border m-0">
                        <ul class="list-inline sm-text-center mt-5 font-12">
                            <li>
                                <a href="#">FAQ</a>
                            </li>
                            <li>|</li>
                            <li>
                                <a href="#">Help Desk</a>
                            </li>
                            <li>|</li>
                            <li>
                                <a href="#">Support</a>
                            </li>
                        </ul>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</footer>
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>