
    <!-- Header -->
    <header id="header" class="header">
        <div class="header-nav header-dark navbar-fixed-top navbar-white navbar-transparent navbar-sticky-animated animated-active">
            <div class="header-nav-wrapper">
                <div class="container">
                    <nav id="menuzord-right" class="menuzord default no-bg">
                        <a class="menuzord-brand pull-left flip xs-pull-center mt-20" href="/index.html">
                            <img src="/images/logo-wide.png" alt="">
                        </a>
                        <ul class="menuzord-menu pull-left">
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="page-about1.html">About</a></li>
                                    <li><a href="#">Gallery</a>
                                        <ul class="dropdown">
                                            <li><a href="page-gallery-3-column.html">Gallery 3 Column</a></li>
                                            <li><a href="page-gallery-4-column.html">Gallery 4 Column</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="page-404.html">Page 404</a></li>
                                    <li><a href="page-coming-soon.html">Coming Soon</a></li>
                                    <li><a href="page-under-construction.html">Under Construction</a></li>
                                    <li><a href="page-megamenu.html">Megamenu</a></li>
                                </ul>
                            </li>
                            <li><a href="/orcamento.html">Orçamento</a></li>
                            <li><a href="/sobre.html">Sobre</a></li>
                            <li><a href="/blog/">Blog</a></li>
                            <li><a href="/contato.html">Contato</a></li>
                        </ul>
                    </nav><div class="clearfix"></div>
                </div>
            </div>
        </div>
    </header>