
    <!-- Header -->
    <header id="header" class="header">
        <div class="header-nav navbar-fixed-top navbar-white navbar-transparent navbar-sticky-animated animated-active">
            <div class="header-nav-wrapper">
                <div class="container">
                    <nav id="menuzord-right" class="menuzord default no-bg">
                        <a class="menuzord-brand pull-left flip xs-pull-center mt-20" href="/index.html">
                            <img src="/images/logo-wide.png" alt="">
                        </a>
                        <ul class="menuzord-menu pull-left">
                            <li><a href="/orcamento.html">Orçamento</a></li>
                            <li><a href="/galeria.html">Galeria</a></li>
                            <li><a href="/sobre.html">Sobre</a></li>
                            <!--<li><a href="/blog/">Blog</a></li>-->
                            <li><a href="/contato.html">Contato</a></li>
                        </ul>
                    </nav><div class="clearfix"></div>
                </div>
            </div>
        </div>
    </header>