<!DOCTYPE html>
<html dir="ltr" lang="pt_BR">
<head>
{% include head.html %}
</head>
<body class="">
    <div id="wrapper" class="clearfix">
        <!-- preloader -->
        <!--
        <div id="preloader">
            <div id="spinner">
                <img class="floating ml-5" src="images/preloaders/13.png" alt="">
                <h5 class="line-height-50 font-18">Energia fotovoltaica acessível a todos!</h5>
            </div>
            <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
        </div>preloader -->
    {% include header.html %}

        <div class="main-content">

            {{ content }}

<!-- Section: About  -->
<section id="about">
    <div class="container pb-70">
        <div class="section-content">
            <div class="row xs-text-center">
                <div class="col-md-12">
                    <h1 class="text-uppercase mt-0 line-height-1">Reduzir seu <span class="text-theme-colored">custo fixo</span> utilizando a energia solar. <br>Essa é nossa missão.</h1>
                    <p>Salve dinheiro e salve também o planeta! <br>Enquanto o custo de energia convencional sobe a cada ano, o custo da energia solar se torna mais acessível, possibilitando aos nossos clientes um investimento que rende muito mais que a poupança ou o tesouro direto.</p>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="icon-box mt-20"> <a class="icon icon-flat icon-border-effect effect-flat icon-md" href="#"><img src="images/economia-primeiro-mes.png" alt=""></a>
                                <h5 class="text-uppercase mt-0"><a href="/orcamento.html"><strong>Economia já no primeiro mês</strong></a></h5>
                                <p>A instalação é rápida e feita com precisão. Logo no primeiro mês você já desfruta dos benefícios.</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="icon-box mt-20"> <a class="icon icon-flat icon-border-effect effect-flat icon-md" href="#"><img src="images/energia-infinita.png" alt=""></a>
                                <h5 class="text-uppercase mt-0"><a href="/orcamento.html"><strong>Energia infinita</strong></a></h5>
                                <p>Energia solar é limpa e infinita, você será o gerador da própria energia</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="icon-box mt-20"> <a class="icon icon-flat icon-border-effect effect-flat icon-md" href="#"><img src="images/valoriza-seu-imovel.png" alt=""></a>
                                <h5 class="text-uppercase mt-0"><a href="/orcamento.html"><strong>Valorização do imóvel</strong></a></h5>
                                <p>Uma casa que gera a própria energia valoriza o seu valor de venda. Afinal quem não quer ter uma casa econômica e sustentável?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Divider: Become a Volunteer -->
<section class="divider parallax layer-overlay overlay-white-9" data-bg-img="/images/sky.jpg" data-parallax-ratio="0.7">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-gray font-24 font-weight-600 mb-5">Com um sistema da StockSolar você economiza até 95% do valor da sua conta.</h3>
                <h2 class="font-36 text-uppercase font-weight-600 mt-0">Quer saber quanto você consegue economizar? <br><span class="text-theme-colored">Entre em contato!</span></h2>
                <p>A gente conversa e te explica tudo o que você precisa saber sobre painel solar, economia e os benefícios que ela irá trazer pra sua vida e seu bolso.</p>
                <a href="/orcamento.html" class="btn btn-lg btn-theme-colored mt-20">Eu quero!</a>
            </div>
        </div>
    </div>
</section>
<!-- Section: divider -->
<section class="bg-theme-colored">
    <div class="container pt-0 pb-0">
        <div class="row">
            <div class="col-md-12">
                <div class="call-to-action pt-30 pb-30">
                    <div class="col-md-9">
                        <h3 class="text-white">Preparado para ajudar o meio ambiente, você também?</h3>
                    </div>
                    <div class="col-md-3 text-right sm-text-center">
                        <a href="/orcamento.html" class="btn btn-transparent btn-border btn-circled btn-lg mt-10">Faça já um orçamento</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<!-- end main-content -->

    {% include footer.html %}

</div>
<!-- end wrapper -->

<!-- Footer Scripts -->
<script src="/js/jquery-2.2.4.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- JS | jquery plugin collection for this theme -->
<script src="/js/jquery-plugin-collection.js"></script>
<!-- JS | Custom script for all pages -->
<script src="/js/custom.js"></script>
<script src="/js/extra.js"></script>

<!-- Revolution Slider 5.x SCRIPTS -->
<script src="/js/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
<script src="/js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
<script src="/js/extra-rev-slider.js"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS
(Load Extensions only on Local File Systems !
The following part can be removed on Server for On Demand Loading) -->
<script type="text/javascript" src="/js/revolution-slider/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="/js/revolution-slider/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="/js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="/js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="/js/revolution-slider/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="/js/revolution-slider/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="/js/revolution-slider/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="/js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="/js/revolution-slider/js/extensions/revolution.extension.video.min.js"></script>

</body>
</html>