---
layout: stock
---
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-8" data-bg-img="/images/economize-energia-banner03.jpg">
        <div class="container pb-30">

            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 xs-text-center">
                        <h3 class="title text-white">Blog</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container mt-30 mb-30 pt-30 pb-30">
            <div class="row ">
                <div class="col-md-10 col-md-offset-1">
                    <div class="blog-posts">
                        <div class="col-md-12">
                            <div class="row list-dashed">
                                {% for post in site.posts %}
                                <article class="post clearfix mb-30 bg-lighter">
                                    <div class="entry-header">
                                        <div class="post-thumb thumb">
                                            <img src="{{ post.image }}" alt="" class="img-responsive img-fullwidth">
                                        </div>
                                    </div>
                                    <div class="entry-content p-20 pr-10">
                                        <div class="entry-meta media mt-0 no-bg no-border">
                                            <div class="entry-date media-left text-center flip bg-theme-colored pt-5 pr-15 pb-5 pl-15">
                                                <ul>
                                                    <li class="font-16 text-white font-weight-600">{{ post.date | date: "%d"}}</li>
                                                    <li class="font-12 text-white text-uppercase">{{ post.date | date: "%B"}}</li>
                                                </ul>
                                            </div>
                                            <div class="media-body pl-15">
                                                <div class="event-content pull-left flip">
                                                    <h4 class="entry-title text-white text-uppercase m-0 mt-5"><a href="#">{{ post.title }}</a></h4>
                                              </div>
                                            </div>
                                        </div>
                                        <p class="mt-10">{{ post.content | truncatehtml | truncatewords: 50 }}</p>
                                        <a href="{{ post.url }}" class="btn-read-more">Leia mais</a>
                                        <div class="clearfix"></div>
                                </article>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <nav>
                                <ul class="pagination theme-colored">
{% if paginator.total_pages > 1 %}
lol
{% endif %}
                                    <li> <a aria-label="Previous" href="#"> <span aria-hidden="true">«</span> </a> </li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">...</a></li>
                                    <li> <a aria-label="Next" href="#"> <span aria-hidden="true">»</span> </a> </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
