---
layout: stock
---
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-8" data-bg-img="http://placehold.it/1920x1280">
        <div class="container pb-30">
        <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 xs-text-center">
                        <h3 class="title text-white">Contato</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Divider: Contact -->
    <section class="divider">
        <div class="container pt-80 pb-90">
            <div class="row pt-30">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="icon-box left media bg-deep p-30 mb-20"> <a class="media-left pull-left" href="#"> <i class="pe-7s-map-2 text-theme-colored"></i></a>
                                <div class="media-body"> <strong>NOSSA LOJA</strong>
                                    <p>Alameda Octavio Pinheiro Brisolla 13-70 sala 2, Bauru/SP</p>
                                </div>
                            </div>
                        </div>
                    <div class="col-xs-12 col-sm-6 col-md-12">
                        <div class="icon-box left media bg-deep p-30 mb-20"> <a class="media-left pull-left" href="#"> <i class="pe-7s-call text-theme-colored"></i></a>
                            <div class="media-body"> <strong>NOSSO TELEFONE DE CONTATO</strong>
                                <p>(14) 99897-9681</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-12">
                        <div class="icon-box left media bg-deep p-30 mb-20"> <a class="media-left pull-left" href="#"> <i class="pe-7s-mail text-theme-colored"></i></a>
                            <div class="media-body"> <strong>NOSSO E-MAIL DE CONTATO</strong>
                                <p>contato@stocksolar.com.br</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <h2 class="mt-0 mb-20 line-height-1">Entre em contato</h2>
                <form id="contact_form" name="contact_form" action="https://getsimpleform.com/messages?form_api_token=53a01392aae1d1391f83ab66aaed382d" method="post">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="form_name">Nome <small>*</small></label>
                                <input id="form_name" name="form_name" class="form-control" type="text" placeholder="Seu nome" required="">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="form_email">Email <small>*</small></label>
                                <input id="form_email" name="form_email" class="form-control required email" type="email" placeholder="Seu email">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="form_name">Assunto <small>*</small></label>
                                <input id="form_subject" name="form_subject" class="form-control required" type="text" placeholder="Sobre o que gostaria de falar">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="form_phone">Telefone</label>
                                <input id="form_phone" name="form_phone" class="form-control" type="text" placeholder="Seu telefone">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="form_name">Mensagem</label>
                        <textarea id="form_message" name="form_message" class="form-control required" rows="5" placeholder="Sua mensagem"></textarea>
                    </div>
                    <div class="form-group">
                        <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="" />
                        <button type="submit" class="btn btn-dark btn-theme-colored btn-flat mr-5" data-loading-text="Mensagem enviada com sucesso">Envie a sua mensagem</button>
                        <button type="reset" class="btn btn-default btn-flat btn-theme-colored">Limpar</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </section>

    <!-- Divider: Google Map -->
    <section>
      <div class="container-fluid pt-0 pb-0">
        <div class="row">
          <!-- Google Map HTML Codes -->
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14761.52880239313!2d-49.058107!3d-22.339193!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94bf676dbde41a1b%3A0x8e46b4cbccd99e01!2sAlameda+Dr.+Oct%C3%A1vio+Pinheiro+Brisolla%2C+13-80+-+Jardim+Brasil%2C+Bauru+-+SP%2C+17011-204!5e0!3m2!1sen!2sbr!4v1524684696522" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
         <!--  <div
            id="map-canvas-multipointer"
            data-mapstyle="style1"
            data-height="400"
            data-zoom="12"
            data-marker="/images/map-marker.png">
          </div> -->
        </div>
      </div>
    </section>