---
layout: stock
---
<!-- Section: inner-header -->
<section class="inner-header divider parallax layer-overlay overlay-dark-8" data-bg-img="/images/economize-energia-banner02.jpg">
    <div class="container pb-30">
    <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-12 xs-text-center">
                    <h3 class="title text-white">Galeria</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="gallery">
    <div class="container-fluid pb-0">
        <div class="section-title text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p>Veja nossos trabalhos realizados!</p>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <!-- Portfolio Gallery Grid -->

                    <div class="gallery-isotope grid-4 gutter-small clearfix" data-lightbox="gallery">
                        <!-- Portfolio Item Start -->
                        <div class="gallery-item">
                            <div class="thumb">
                                <img alt="project" src="/images/gallery/stocksolar01.jpg" class="img-fullwidth">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a href="/images/gallery/stocksolar02.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio Item End -->

                        <!-- Portfolio Item Start -->
                        <div class="gallery-item">
                            <div class="thumb">
                                <img alt="project" src="/images/gallery/stocksolar03.jpg" class="img-fullwidth">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a href="/images/gallery/stocksolar04.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio Item End -->

                        <!-- Portfolio Item Start -->
                        <div class="gallery-item">
                            <div class="thumb">
                                <img alt="project" src="/images/gallery/stocksolar05.jpg" class="img-fullwidth">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a href="/images/gallery/stocksolar06.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio Item End -->

                        <!-- Portfolio Item Start -->
                        <div class="gallery-item">
                            <div class="thumb">
                                <img alt="project" src="/images/gallery/stocksolar07.jpg" class="img-fullwidth">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a href="/images/gallery/stocksolar08.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio Item End -->

                        <!-- Portfolio Item Start -->
                        <div class="gallery-item">
                            <div class="thumb">
                                <img alt="project" src="/images/gallery/stocksolar09.jpg" class="img-fullwidth">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a href="/images/gallery/stocksolar10.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio Item End -->

                        <!-- Portfolio Item Start -->
                        <div class="gallery-item">
                            <div class="thumb">
                                <img alt="project" src="/images/gallery/stocksolar11.jpg" class="img-fullwidth">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a href="/images/gallery/stocksolar12.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio Item End -->

                        <!-- Portfolio Item Start -->
                        <div class="gallery-item">
                            <div class="thumb">
                                <img alt="project" src="/images/gallery/stocksolar13.jpg" class="img-fullwidth">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a href="/images/gallery/stocksolar14.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio Item End -->

                        <!-- Portfolio Item Start -->
                        <div class="gallery-item">
                            <div class="thumb">
                                <img alt="project" src="/images/gallery/stocksolar15.jpg" class="img-fullwidth">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a href="/images/gallery/stocksolar16.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio Item End -->

                        <!-- Portfolio Item Start -->
                        <div class="gallery-item">
                            <div class="thumb">
                                <img alt="project" src="/images/gallery/stocksolar17.jpg" class="img-fullwidth">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a href="/images/gallery/stocksolar18.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio Item End -->

                        <!-- Portfolio Item Start -->
                        <div class="gallery-item">
                            <div class="thumb">
                                <img alt="project" src="/images/gallery/stocksolar19.jpg" class="img-fullwidth">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a href="/images/gallery/stocksolar20.jpg""  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio Item End -->

                        <!-- Portfolio Item Start -->
                        <div class="gallery-item">
                            <div class="thumb">
                                <img alt="project" src="/images/gallery/stocksolar21.jpg" class="img-fullwidth">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a href="/images/gallery/stocksolar22.jpg""  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio Item End -->

                        <!-- Portfolio Item Start -->
                        <div class="gallery-item">
                            <div class="thumb">
                                <img alt="project" src="/images/gallery/stocksolar23.jpg" class="img-fullwidth">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a href="/images/gallery/stocksolar24.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio Item End -->
                    </div>
                    <!-- End Portfolio Gallery Grid -->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-theme-colored">
    <div class="container pt-0 pb-0">
        <div class="row">
            <div class="col-md-12">
                <div class="call-to-action pt-30 pb-30">
                    <div class="col-md-9">
                        <h3 class="text-white">Preparado para ajudar o meio ambiente, você também?</h3>
                    </div>
                    <div class="col-md-3 text-right sm-text-center">
                        <a href="/orcamento.html" class="btn btn-transparent btn-border btn-circled btn-lg mt-10">Faça já um orçamento</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>