---
layout: stock
---
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-8" data-bg-img="http://placehold.it/1920x1280">
        <div class="container pb-30">

            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 xs-text-center">
                        <h3 class="title text-white">Sobre</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="container pb-70">
            <div class="section-content">
                <div class="row xs-text-center">
                    <div class="col-md-8">
                        <h2 class="text-uppercase mt-0 line-height-1">our <span class="text-theme-colored">ecosolar</span> to save energy</h2>
                        <p>Reduce your house heat, keep the windows closed.. Turn off lights and appliances when you are not using them, use energy-saving light bulbs.</p>
                    <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="icon-box mt-20"> <a class="icon icon-flat icon-border-effect effect-flat icon-md" href="#"><img src="http://placehold.it/90x90" alt=""></a>
                            <h5 class="text-uppercase mt-0"><a href="#"><strong>Renewable Energy</strong></a></h5>
                            <p>Solar energy is a truly renewable energy source. It can be harnessed in all</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="icon-box mt-20"> <a class="icon icon-flat icon-border-effect effect-flat icon-md" href="#"><img src="http://placehold.it/90x90" alt=""></a>
                            <h5 class="text-uppercase mt-0"><a href="#"><strong>Diverse Applications</strong></a></h5>
                            <p>Solar energy can be used for diverse purposes. You can generate electricity</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="icon-box mt-20"> <a class="icon icon-flat icon-border-effect effect-flat icon-md" href="#"><img src="http://placehold.it/90x90" alt=""></a>
                            <h5 class="text-uppercase mt-0"><a href="#"><strong>Solar is carbon-free</strong></a></h5>
                            <p>Solar energy systems don’t require a lot of maintenance. You only need</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
              <div class="owl-carousel-1col" data-nav="true">
                <div class="item">
                  <div class="newcomer">
                    <img src="http://placehold.it/370x370" alt="">
                    <div class="newcomer-overlay">
                      <div class="newcomer-inner">
                        <span>WELCOME AS </span>
                        <strong class="font-36 text-theme-colored">Volunteer</strong>
                        <p>To save natural resource</p>
                        <a class="btn btn-flat btn-theme-colored font-weight-600 flip mt-10" href="">Join Here</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="newcomer">
                    <img src="http://placehold.it/370x370" alt="">
                    <div class="newcomer-overlay">
                      <div class="newcomer-inner">
                        <span>WELCOME AS </span>
                        <strong class="font-36 text-theme-colored">Volunteer</strong>
                        <p>To save natural resource</p>
                        <a class="btn btn-flat btn-theme-colored font-weight-600 flip mt-10" href="">Join Here</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="newcomer">
                    <img src="http://placehold.it/370x370" alt="">
                    <div class="newcomer-overlay">
                      <div class="newcomer-inner">
                        <span>WELCOME AS </span>
                        <strong class="font-36 text-theme-colored">Volunteer</strong>
                        <p>To save natural resource</p>
                        <a class="btn btn-flat btn-theme-colored font-weight-600 flip mt-10" href="">Join Here</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>