---
layout: stock
---
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-8" data-bg-img="/images/economize-energia-banner01.jpg">
        <div class="container pb-30">

            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 xs-text-center">
                        <h3 class="title text-white">Sobre</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="container pb-70">
            <div class="section-content">
                <div class="row xs-text-center">
                    <div class="col-md-8">
                        <h2 class="text-uppercase mt-0 line-height-1">Mais de <span class="text-theme-colored">150 clientes</span> satisfeitos!</h2>
                        <p>Nossa receita do sucesso é fácil e a gente conta pra todo mundo: dedicação, carinho pelo o que fazemos e energia. <strong>Muita energia</strong>.</p> <br>Começamos em Bauru, interior de São Paulo, e logo nossas instalações foram ganhando telhados estado a fora. Nosso ramo de atuação é extenso e se expande a cada dia. <br>Temos o orgulho de ter o Sol como nosso maior parceiro, uma vez cultuado em todas as civilizações antigas por trazer a prosperidade, a colheita e o sopro de vida dia-a-dia, ele hoje é novamente colocado ao centro de discussões sobre o avanço da sociedade. É a partir dele que nossa comunidade irá se desenvolver com menos poluição, de forma sustentável (e de quebra sem pagar conta de luz!).  
        </div>
            <div class="col-md-4">
                <div class="item">
                  <div class="newcomer">
                    <img src="/images/murilo-e-pedro.jpg" alt="">
                    <div class="newcomer-overlay">
                      <div class="newcomer-inner">
                        <span>Quer fazer parte </span> <p>desse time?</p>
                        <a class="btn btn-flat btn-theme-colored font-weight-600 flip mt-10" href="">Fale Conosco</a>
                      </div>
                    </div>
                  </div>            
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>